.shoeAbsolute {
  position: fixed;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  animation-name: adaptationContent;
  animation-timeline: scroll();
  animation-range: 0% 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 0;
}

.awaiting {
  top: 0;
  left: 0;
  width: 1rem;
  opacity: 0;
}

.fromPrev {
  top: 60%;
  left: 15%;
  width: 1rem;
  opacity: 0;
}

.fromNext {
  top: 60%;
  left: 80%;
  width: 1rem;
  opacity: 0;
}

.shoeActive {
  top: 0%;
  left: 25%;
  width: 50%;
  opacity: 1;
}

@keyframes adaptationContent {
  0% {
    transform: rotate(-30deg) translateX(0);
    scale: 1;
  }
  50% {
    transform: rotate(-15deg) translateX(30%) translateY(-5%);
    scale: 2.6;
  }
  100% {
    transform: rotate(-15deg) translateX(-45%);
    scale: 1.2;
  }
}

@media screen and (max-width: 1110px) {
  @keyframes adaptationContent {
  0% {
    transform: translateX(0) translateY(50%) rotate(-30deg);
    scale: 1;
  }
  50% {
    transform: rotate(-15deg) translateX(30%) translateY(-5%);
    scale: 2.6;
  }
  100% {
    transform: rotate(-15deg) translateX(-45%) translateY(15%);
    scale: 1;
  }
}
}

@media screen and (max-width: 780px) {
  @keyframes adaptationContent {
  0% {
    transform: translateX(0) translateY(70%) rotate(-30deg) ;
    scale: 1;
  }
  50% {
    transform: translateX(30%) translateY(10%) rotate(-15deg);
    scale: 2.6;
  }
  100% {
    transform: rotate(-15deg) translateX(-45%) translateY(15%);
    scale: 1;
  }
}
}